<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .icon {
        width: 20px;
        height: 20px;
      }
    </style>
    <title>Coin List</title>
  </head>
  <body>
    <h1>Coin List</h1>
    <table border="black 1px">
      <tr>
        <td>Symbol</td>
        <td>Name</td>
        <td>Icon</td>
        <td>Price</td>
        <td>Change</td>
        <td>Add</td>
      </tr>
      <tr data-th-each="coin : ${coins}">
        <td><span data-th-text="${coin.getSymbol()}"></span></td>
        <td><span data-th-text="${coin.getName()}"></td>
        <td><img data-th-src="${coin.getIconUrl()}" class="icon"></td>
        <td><span data-th-text="${coin.getPrice()}"></td>
        <td><span data-th-text="${coin.getChange()}"></td>
      </tr>
    </table>
  </body>
</html>
